<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <system.runtime.remoting>
  <application name="client">
  <client>
           <wellknown
           type="DDADBRObjects.RSchema, DDADBRObjects"
           url="tcp://localhost:10001/DDADBRemotableSchema"
            />
            <wellknown
           type="DDARecipeRObjects.RRecipeList, DDARecipeRObjects"
           url="tcp://localhost:10001/DDARecipeRemotableRecipeList"
            />
    </client>

 	<channels>
    <channel ref="tcp" port="0">
     <serverProviders>
      <formatter ref="binary" typeFilterLevel="Full"/>
     </serverProviders>
     <clientProviders>
      <formatter ref="binary"/>
     </clientProviders>
    </channel>
   </channels>

  </application>
 </system.runtime.remoting>
</configuration>
