<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <system.runtime.remoting>
  <application name="client">
  <client>
           <wellknown
           type="KOIDTSSimpleMsg.RObject, KOIDTSSimpleMsg"
           url="tcp://localhost:11000/KOIDTSSimpleMsg"
            />
        </client>
 	<channels>
    <channel ref="tcp" port="0">
     <serverProviders>
      <formatter ref="binary" typeFilterLevel="Full"/>
     </serverProviders>
     <clientProviders>
      <formatter ref="binary"/>
     </clientProviders>
    </channel>
   </channels>

  </application>
 </system.runtime.remoting>
</configuration>
