<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <system.runtime.remoting>
  <application>
   <service>
          <wellknown
               mode="Singleton"
               type="DDADBRObjects.RSchema, DDADBRObjects"
               objectUri="DDADBRemotableSchema"
            />
          <wellknown
               mode="Singleton"
               type="DDARecipeRObjects.RRecipeList, DDARecipeRObjects"
               objectUri="DDARecipeRemotableRecipeList"
            />
     </service>
   <channels>
    <channel ref="tcp" port="[portnumber]">
     <serverProviders>
      <formatter ref="binary" typeFilterLevel="Full"/>
     </serverProviders>
     <clientProviders>
      <formatter ref="binary"/>
     </clientProviders>
    </channel>
   </channels>
  </application>
 </system.runtime.remoting>
</configuration>
