<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <system.runtime.remoting>
  <application>
   <service>
          <wellknown
               mode="Singleton"
               type="KOIDTSSimpleMsg.RObject,KOIDTSSimpleMsg"
               objectUri="KOIDTSSimpleMsg"
            />
     </service>
   <channels>
    <channel ref="tcp" port="11000">
     <serverProviders>
      <formatter ref="binary" typeFilterLevel="Full"/>
     </serverProviders>
     <clientProviders>
      <formatter ref="binary"/>
     </clientProviders>
    </channel>
   </channels>
  </application>
 </system.runtime.remoting>
</configuration>
